.index-msg {
    position: fixed;
    margin-left: 10px;
    margin-top: 50px;
}

.index-img {
    width: 100px;
}

.login-form input {
    padding: 10px 15px 10px 15px;
    margin: 1px;
    border-radius: 30px;
    border: #b6b6b6 0.5px solid;
    outline: 0;
}
.login-form input[type="submit"] {
    margin-left: -4px;
}

.login-result {
    display: none;
}

.register-form input {
    padding: 10px 15px 10px 15px;
    margin: 1px;
    border-radius: 30px;
    border: #b6b6b6 0.5px solid;
    outline: 0;
}
.register-form input[type="submit"] {
    margin-left: -4px;
}

.register-result {
    display: none;
}

.board-table {
    margin-top: 20px;
    border: black 1px solid;
    width: 100%;
}
.board-table tr {
    text-align: center;
}
.board-table tr th, .board-table tr td {
    text-align: center;
    padding: 2px 7px 2px 7px;
    border: black 1px solid;
}


.write-form {
    margin-top: 15px;
}
.write-form input[name="title"] {
    padding: 5px 10px 5px 10px;
    border: #b6b6b6 0.5px solid;
    border-radius: 10px;
    margin-bottom: 5px;
    width: 300px;
    outline: 0;
}
.write-form input[type="submit"] {
    padding: 5px 10px 5px 10px;
    border: #b6b6b6 0.5px solid;
    border-radius: 10px;
    width: 100px;
}

.write-form textarea {
    padding: 10px;
    border: #b6b6b6 0.5px solid;
    border-radius: 10px;
    margin-bottom: 5px;
    width: 300px;
    height: 100px;
    outline: 0;
}

.write-result {
    display: none;
}


.update-form {
    margin-top: 15px;
}
.update-form input[name="title"] {
    padding: 5px 10px 5px 10px;
    border: #b6b6b6 0.5px solid;
    border-radius: 10px;
    margin-bottom: 5px;
    width: 300px;
    outline: 0;
}
.update-form input[type="submit"] {
    padding: 5px 10px 5px 10px;
    border: #b6b6b6 0.5px solid;
    border-radius: 10px;
    width: 100px;
}

.update-form textarea {
    padding: 10px;
    border: #b6b6b6 0.5px solid;
    border-radius: 10px;
    margin-bottom: 5px;
    width: 300px;
    height: 100px;
    outline: 0;
}

.update-result {
    display: none;
}

.read-btn {
    padding: 5px 10px 5px 10px;
    border: #b6b6b6 0.5px solid;
    border-radius: 10px;
    width: 100px;
}