<h1>Board</h1>
<div style="width: 400px;">
    <table class="board-table">
        <tr>
            <th>Writer</th>
            <th>Title</th>
            <th>#</th>
        </tr>
        @mun foreach($posts as $post)
        <tr>
            <td><small>@var($post['username'])</small></td>
            <td style="width: 60%;"><small>@var($post['title'])</small></td>
            <td><a href="/read?no=@var($post['no'])"><button>Read</button></a></td>
        </tr>
        @endforeach
    </table>
</div>