<script>
    function post_delete(no) {
        $.post("/delete", {"no":no}, function(response) {
            let result = JSON.parse(response);
            if(result['status']) {
                alert('Delete success');
                location.href = "/board";
            }
            else
                alert('Delete failed');
        });
    }
</script>

@mun if($is_mypost)
    <hr>
    <button class="read-btn" onclick="post_delete(@var($post['no']))">Delete</button>&nbsp;
    <a href="/update?no=@var($post['no'])"><button class="read-btn">Update</button></a>&nbsp;
@endif

<h1>@var($post['title'])</h1>
<p>
    <b>Writer</b> : @var($post['username'])<br>
    <b>Date</b> : @var($post['date'])
</p>
<p>@var(nl2br($post['contents']))</p>